body{
  margin:
}

header{
  display: inline-block;
  padding: 30px;
  font-size: 35px;
  text-align: center;
}

.site-nav{
  display:flex;
  justify-content: space-between;
  background-color: #555;
  overflow: auto;
  border-bottom: 5px solid #c2afaf;
  margin-bottom: 15px;
}

.site-list{
  list-style-type: none;
  box-sizing: border-box;
}

li{
  color: white;
  padding: 20px;
  display: inline-block;
}
main{
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
  grid-gap: .75em;

}

@media (max-width: 480px) {
  display: block;
}

@media (max-width: 768px) {
  grid-template-rows: 1fr 1fr 5fr 1fr;
  grid-template-columns: 2fr 5fr 3fr;
}
